# Git
.git
.gitignore
.gitattributes
.github

# Extras
README.md
.ruby-version
.rspec
.rubocop.yml
.yamllint
.database_consistency.yml
.renovaterc.json

# CI/CD
ci
deploy

# Bundler config
.bundle

# SQLite database
db/*.sqlite3
db/*.sqlite3-*

# Logfiles and tempfiles
log
tmp

# Uploaded files in development
storage

# Master key
config/master.key

# Simplecov results
coverage
.bundle
