# Bundler config
/.bundle

# SQLite database
/db/*.sqlite3
/db/*.sqlite3-*

# Logfiles and tempfiles
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Pidfiles
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Uploaded files in development
/storage/*
!/storage/.keep
.byebug_history

# Master key
/config/master.key

# Simplecov results
/coverage
