<h1>Wizard Connect 3</h1>

<p>Hi <%= @user.username %>,</p>

<p>
To reset your account password click on the following link. If you didn't issue a password reset you can safely ignore this email.
</p>

<%= link_to "Reset Password", password_reset_url(@user.password_recovery_token) %>
